%h1 Log in

= form_with url: sessions_path, local: true do |form|
  .field
    = form.label :email
    = form.text_field :email, autofocus: true, required: true

  .field
    = form.label :password
    = form.password_field :password, required: true

  .actions
    = form.submit "Log in"
