.card.h-100.mb-3
  %img.card-img-top{
    src: snack&.img_url || "https://img.freepik.com/premium-photo/empty-wineglass-red-wine-diffusion-lit-abstract-composition-with-reflection_122647-428.jpg",
    alt: snack&.name || "...",
    style: "height: 200px; object-fit: cover;",
    onerror: "this.onerror=null;this.src='https://img.freepik.com/premium-photo/empty-wineglass-red-wine-diffusion-lit-abstract-composition-with-reflection_122647-428.jpg';"
    }
  .card-body
    %h5.card-title= snack.name
    %p.card-text
      = snack.description
    %p.card-text
      - snack.flavors.each do |flavor|
        - color = flavor.color
        - r, g, b = color[1..2].to_i(16), color[3..4].to_i(16), color[5..6].to_i(16)
        - brightness = (r * 299 + g * 587 + b * 114) / 1000
        - text_color = brightness > 186 ? "black" : "white"
        - border_style = brightness > 186 ? "1px solid #333" : "1px solid #ccc"
        %span.badge{ id: "#{card}-snack-#{snack.id}-flavor-#{flavor.id}", style: "background-color: #{ flavor.color }; color: #{ text_color }; border: #{border_style} "}
          = flavor.name

  .card-footer
    .d-flex.justify-content-around
      - if card == "owned"
        = link_to "Edit", edit_snack_path(snack),
          class: "btn btn-info",
          data: { turbo_frame: "modal" }
        = link_to "Swap", swap_out_snack_path(snack),
          class: "btn btn-warning",
          data: { turbo_confirm: "Are you sure you want to swap out this snack?", turbo_method: :post }
        = link_to "Delete", snack_path(snack),
          class: "btn btn-danger",
          data: { turbo_confirm: "Are you sure you want to permanently delete this snack?", turbo_method: :delete }
      - elsif current_user.snacks.where(id: snack.id).empty?
        = link_to "Swap", swap_in_snack_path(snack),
          class: "btn btn-success",
          data: { turbo_confirm: "Are you sure you want to swap in this snack?", turbo_method: :post }




