- content_for :title, "Snacks"

.jumbotron.jumbotron-fluid.mb-4
  .container
    %h1.display-4 Snack Swap
    %p.lead
      Swap your favorite snacks here

.container-fluid
  .row
    .col-lg-8.col-md-12
      .card.mb-4
        .card-header.d-flex.justify-content-between
          %h4 My Snacks
          = form_with url: snacks_path, method: :get, local: true, html: { class: "d-flex align-items-center" } do |f|
            = f.select :flavor_filter, options_from_collection_for_select(Flavor.all, :id, :name, params[:flavor_filter]),
              { include_blank: "All Flavors" },
              { class: "form-select", onchange: "this.form.submit();" }
          = link_to "Add Snack", new_snack_path,
            data: { turbo_frame: "modal" },
            class: "btn btn-primary"

        .card-body
          .snacks.row
            - @snacks.each do |snack|
              .col-lg-4.col-md-6.mb-4{id: "snack-#{snack.id}"}
                = render "snack", snack: snack, card: "owned"

      .card
        .card-header.d-flex.justify-content-between
          %h4 Snack of the day
        .card-body
          .snacks.row
            - snack = Snack.most_popular
            .col-12.mb-3{id: "popular-snack-#{snack.id}"}
              = render "snack", snack: snack, card: "popular"

    .col-lg-4.col-md-12
      .card.mb-4
        .card-header.d-flex.justify-content-between
          %h4 Similar Swaps
        .card-body
          .snacks.row
            - @similar_snacks.each do |snack|
              .col-6.mb-3{id: "similar-snack-#{snack.id}"}
                = render "snack", snack: snack, card: "similar"
      .card
        .card-header.d-flex.justify-content-between
          %h4 Complementary Swaps
        .card-body
          .snacks.row
            - @complementary_snacks.each do |snack|
              .col-6.mb-3{id: "complementary-snack-#{snack.id}"}
                = render "snack", snack: snack, card: "complementary"





