- content_for :title, "Snacks"

.jumbotron.jumbotron-fluid.mb-4
  .container
    %h1.display-4 Snack Swap
    %p.lead
      Swap your favorite snacks here

.row
  .col-8
    .card
      .card-header.d-flex.justify-content-between
        %h4 My Snacks
        = link_to "Add Snack", new_snack_path,
          data: { turbo_frame: "modal" },
          class: "btn btn-primary"

      .card-body
        .snacks.row
          - @snacks.each do |snack|
            .col-12.col-md-4.mb-4{id: "snack-#{snack.id}"}
              = render "snack", snack: snack, owned: true
  .col-4
    .card.mb-4
      .card-header.d-flex.justify-content-between
        %h4 Similar Swaps
      .card-body
        .snacks.row
          - @similar_snacks.each do |snack|
            .col-6{id: "similar-snack-#{snack.id}"}
              = render "snack", snack: snack, owned: false

    .card
      .card-header.d-flex.justify-content-between
        %h4 Complementary Swaps
      .card-body
        .snacks.row
          - @complementary_snacks.each do |snack|
            .col-6{id: "complementary-snack-#{snack.id}"}
              = render "snack", snack: snack, owned: false





